<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yealink.dao.PostDao">
    <resultMap id="PostBean" type="com.yealink.pojo.Post">
        <id column="post_id" property="id"></id>
        <result column="post_name" property="name"></result>
        <result column="d_id" property="dId"></result>
        <!--<collection property="dept" column="d_id" ofType="com.yealink.pojo.Dept" select="com.yealink.dao.DeptDao.selectById"></collection>-->
        <association property="dept" javaType="com.yealink.pojo.Dept">
            <id column="dept_id" property="id"></id>
            <result column="dept_name" property="name"></result>
        </association>
    </resultMap>

    <sql id="table_name">post</sql>
    <sql id="condition">
        <where>
            <if test="id != null">and post_id=#{id}</if>
            <if test="name != null and name !='' ">and post_name like '%${name}%'</if>
            <if test="dId != null and dId !='' ">and d_id=#{dId}</if>
        </where>
    </sql>

    <select id="selectAll" parameterType="com.yealink.pojo.Post" resultMap="PostBean">
        SELECT* FROM
        <include refid="table_name"/> as p LEFT JOIN
        dept as d
        ON p.d_id = d.dept_id
        <include refid="condition"/>
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="PostBean">
        SELECT * FROM
        <include refid="table_name"/> as p,
        dept as d
        WHERE p.post_id=#{id} AND p.d_id = d.dept_id
    </select>

    <select id="checkPost" parameterType="com.yealink.pojo.Post" resultType="com.yealink.pojo.Post">
        select post_id as id,post_name as name,d_id as dId
        FROM <include refid="table_name"/>
        <where>
            <if test="name != null and name !='' ">and post_name = #{name}</if>
            <if test="dId != null and dId !='' ">and d_id=#{dId}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.yealink.pojo.Post">
        INSERT INTO
        <include refid="table_name"/>
        (post_id,post_name,d_id)
        VALUES (
        #{id},#{name},#{dId}
        )
    </insert>

    <update id="updatePost" parameterType="com.yealink.pojo.Post">
        UPDATE
        <include refid="table_name"/>
        <set>
            <if test="name != null and name !='' ">post_name=#{name},</if>
            <if test="dId != null and dId !='' ">d_id=#{dId},</if>
        </set>
        WHERE post_id=#{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="table_name"/>
        WHERE post_id=#{id}
    </delete>

    <delete id="batchDeletePost" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="table_name"/>
        WHERE post_id IN
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>
</mapper>